/* Wymuś stałą szerokość strony */
body {
    font-family: Arial, sans-serif;
    color: white;
    background: #000;
    min-width: 1200px; /* Minimalna szerokość strony */
    margin: 0 auto; /* Wyśrodkowanie strony */
    overflow-x: auto; /* Włącz przewijanie w poziomie */
}

/* Kontener na logo */
#logo-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    padding: 10px;
}

/* Logo */
#logo {
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

/* Pasek nawigacyjny */
header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    background: black;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 60px;
    margin-right: 20px;
}

    nav ul li a {
        font-family: "Rubik";
        text-decoration: none;
        color: white;
        font-size: 40px;
        transition: color 0.3s;
    }

        nav ul li a:hover {
            color: #ff4081;
        }

/* Sekcja hero (strona główna) */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: url('IMG/background.jpg') no-repeat center center/cover;
    margin-top: 60px;
}

    .hero h1 {
        font-size: 72px;
        margin-bottom: 10px;
    }

    .hero p {
        font-size: 32px;
    }

/* Sekcja produktów (realizacje) */
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px auto;
    max-width: 1200px;
    padding-top: 80px;
}

.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

    .product img {
        width: 100%;
        height: auto;
    }

.product-details {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .product-details h2 {
        margin: 0 0 10px;
        font-size: 18px;
        color: #333;
    }

    .product-details p {
        margin: 0;
        color: #666;
        font-size: 14px;
    }

/* Czcionka Rubik */
@font-face {
    font-family: "Rubik";
    src: url("Fonts/Rubik-VariableFont_wght.ttf");
}

/* Ukrycie scrollbara */
::-webkit-scrollbar {
    display: none;
}
